.header{
	position: relative;
	width: 100%;
	min-height: 360px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo{
	width: 186px;
    height: 186px;
}

.logo img{
	width: 100%;
}

.project{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.project img{
	width: 100%;
}

.navbar .highlighted_text{
	display: flex;
	justify-content: center;
	text-rendering: geometricPrecision;
}

.right_text{
	font-family:"Gotham-bold";
	font-size: 36px;
	color: #000000;
	text-transform: uppercase;
}

.header>div{
	padding: 0 50px;
}