/*includes*/

	@import url(./reset.css);
	@import url(./icons.css);
	@import url(./grid.css);

/*includes*/
/*fonts*/

@font-face {
	font-family:"Gotham-black";
	src:url(../fonts/GothamProBlack.ttf);
}
@font-face {
	font-family:"Gotham-bold";
	src:url(../fonts/GothamProBold.ttf);
}
@font-face {
	font-family:"Gotham-medium";
	src:url(../fonts/GothamProMedium.ttf);
}
@font-face {
	font-family:"Gotham-regular";
	src:url(../fonts/GothamProRegular.ttf);
}
@font-face {
	font-family:"Gotham-light";
	src:url(../fonts/GothamProLight.ttf);
}

/*fonts end*/

/*text*/

	.secondary_text{
		font-family:"Gotham-medium";
		font-size: 15px;
		color: #686b6e;
		letter-spacing: -0.02em;
		line-height: 120%;
	}

	.highlighted_text{
		font-family:"Gotham-bold";
		font-size: 17px;
		color: #000000;
		text-transform: uppercase;
	}

	.highlighted_text_min{
		font-family:"Gotham-bold";
		font-size: 15px;
		color: #000000;
		text-transform: uppercase;
		text-shadow: 0 0 -0.2px rgba(0,0,0,0.5);
	}

	a{ 
		color: inherit;
		text-decoration: none;
		text-transform: inherit;
	}

	/*text*/

/*Containers*/
	.grid{
		width: 100%;
		position: relative;
		padding: 0px 50px 60px 50px;
		box-sizing: border-box;
	}
	.flex_container{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	.flex-column{
		width: 32.8%;
	}

	.copyright{
		width: 100%;
		position: relative;
		margin-top: 120px;
		display: flex;
		justify-content: space-between;
	}

	.other_pages{
		display: flex;
		flex:auto;
	}

	.content{
		padding-bottom: 150px;
	}
	/*Containers end*/

/*dividers*/

	.divider{
		width: 100%;
		height: 2px;
		background: #fff200;
	}


	/*dividers*/



/*COLORS*/
	.akcent{
		color: #fff200;
		color: rgba(255, 242, 0, 1);
	}

	.text{
		color: #686b6e;
		color: rgba(104, 107, 110, 1);
	}

	.text{
		color: #000000;
		color: rgba(0,0,0,0);
	}
	/*COLORS*/

/*footer*/
	
	.footer{
		margin-top: 50px;
	}

	
	.page{
		font-family: "Gotham-bold";
		font-size: 12px;
		margin-right: 20px;
		transition: 0.2s;
		opacity: 0.8;
	}
	.page:hover{
		opacity: 1
	}


	/*footer*/

/*BUTTONS*/



.load_more{
	border: 2px solid rgba(255, 242, 0, 1);
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.load_more::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0; left: 0;
	z-index: -1;
	transition: 0.3s cubic-bezier(.17,.84,.44,1);
	background: rgba(255, 242, 0, 1);
}

.load_more .highlighted_text_min{
	transition: 0.3s;	
}

.load_more:hover::after{
	height: 100%;
}

.loading{
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 60px;
	display: none;
}

.loading .dots{
	width: 15px;
	height: 15px;
	margin: 0 5px;
	background: rgba(255, 242, 0, 1);
	border-radius: 50%;
	position: relative;
}

.dots:nth-child(1){
	animation: dots 0.5s ease-in-out 0s infinite;
}

.dots:nth-child(2){
	animation: dots 0.5s ease-in-out 0.1s infinite;
}

.dots:nth-child(3){
	animation: dots 0.5s ease-in-out 0.2s infinite;
}
@keyframes dots {
	0%, 100%{opacity: 0;}
	45%, 50%, 55%{opacity: 1;}
}

.fade_out{
	z-index: 9999;
	background: #fff200;
	opacity: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	transition: 0.4s;
	top: 0;
	visibility: hidden;
}

.fade_in{
	z-index: 9999;
	background: #fff200;
	opacity: 1;
	width: 100%;
	height: 100vh;
	top: 0;
	position: fixed;
	transition: 0.6s;
	transition-delay: 0.3s;
	visibility: visible;
}

/*menu*/

	.menu{
		width: 460px;
		height: 100vh;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-left: 50px;
		padding-top: 60px;
		position: fixed;
		background: rgba(255,255,255,1);
		top: 0;
		left: 0;
		border-right: 1px solid #fff200;
		z-index: 997;
		-webkit-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.menu li{
		margin-bottom: 40px;
		position: relative;
	}

	.menu li a{
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
		position: relative;
	}

	.menu li a::after{
		content: "";
		position: absolute;
		width: 0;
		height: 2px;
		background: #fff200;
		bottom: -4px;
		left: 0;
		-webkit-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	.menu li a:hover::after{
		width: 100%;
	}

	/*status*/

		.menu.active{
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			-o-transform: translateX(0);
			transform: translateX(0);
		}

	/*status end*/

	.menu_close, .burger{
		font-size: 35px;
		cursor: pointer;
		-webkit-transition: 0.2s;
		-o-transition: 0.2s;
		transition: 0.2s;
	}

	.menu_close:hover, .burger:hover{
		color: #FFF200;
	}

/*menu*/

/*OTHER*/

	::selection {background: #fff200;}
	::-moz-selection {background: #fff200;}
	::-webkit-selection {background: #fff200; color:#fff;}

/*OTHER*/